* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #36393f;
  --background-profile: #292b2f;
  --profile-banner: #a1a1b8;
  --discriminator-color: #B9BBBE;
  --title-color: #FFFFFF;
  --border-account-color: rgba(79, 84, 92, 0.48)
}

ul, li {
  list-style: none;
}

html, body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../imgs/background.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}

.user_container {
  background-color: var(--background-profile);
  width: 600px;
  height: 500px;
  border-radius: 8px;
  position: absolute;
}

.user_avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 52px;
  left: 16px;
  padding: 8px;
  background-color: var(--background-profile);
}

.banner {
  width: 600px;
  height: 120px;
  background-color: var(--profile-banner);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.imgInfo {
  margin-bottom: 60px;
}

.info, .content {
  padding-inline: 20px;
}

.info {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
}

.info .user_tag {
  color: var(--discriminator-color);
}

.content .title {
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 0;
}

.account {
  border-radius: 8px;
  border-color: var(--border-account-color);
  border-style: solid;
  border-width: 1px;
  width: 264px;
  padding: 12px 8px;
  position: relative;
  display: flex;
  align-items: center;
}

.account .openNewTab {
  position: absolute;
  right: 20px;
  color: white
}

.account .icon {
  width: 24px;
  height: 24px;
}